<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name ="HostelDbConnection" 
             connectionString="Data Source=EPBYMINW6547;Initial Catalog=HostelDb;Integrated Security=False;User ID=sa;Password=admin123~;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>
</configuration>